@import url("style/header.css");

:root{
    --rosa-claro: #f574e4f7; 
    --rosa-pink: #da086ae4;
    --lilas: #c514c5;
    --fonte-projeto: "Dosis";

}

body{
    background-color: var(--rosa-claro);
    margin: 0; font-family: var(--fonte-projeto);
}