@import url("style/header.css");

:root{
    --amarelo: #f574e4f7; 
    --fundo-azul: #da086ae4;
    --lilas: #a510a5;
    --fonte-projeto: "Dosis";

}

body{
    background-color: var(--amarelo);
    margin: 0; font-family: var(--fonte-projeto);
}